<footer>
<div class="container-fluid color-fotter" >
  <div class="row">
    <div class="col-md-4">
      <address>
        <img
          src="../assets/img/img/recurso/if_building-o_1608589.png?h=d1de37dc841c62fcc67b240d8c2e3798"
          width="16"
          height="16"
          class="d-inline-block align-top"
          alt=""
        />
        Sede Administrativa: Cr 7 No 19-38 <br />
        <img
          src="../assets/img/img/recurso/if_f095_213074.png?h=849153c7e26d7a75fe0dc68d0bddcb97"
          width="11"
          height="16"
          class="d-inline-block align-top"
          alt=""
        />
        Teléfono : (57)(1) 2862384 Ext.110<br />
        Bogotá, Colombia
      </address>
    </div>
    <div class="col-md-4">
      <address>
        <strong>Horario de atención</strong><br /><br />
        <strong>Usuarios Internos:</strong><br />
        Lunes a Viernes: 7:00 a.m.a 10:00 p.m.<br />
        Sábados: 7:00 a.m. a 1:00 p.m.<br />
        <strong>Usuarios Externos:</strong><br />
        Lunes a Viernes: 8:00 a.m.a 8:00 p.m.<br />
        Sábados: 9:00 a.m. a 1:00 p.m. <br />
      </address>
    </div>
    <div class="col-md-4">
      <a href="https://n9.cl/5ivxf"
        ><img
          src="../../../assets/imagenes/iconfinder_whatsapp_1242844.png"
          width="42"
          height="42"
          class="rounded float-left ejemplo"
          alt="..."
      /></a>
      <a href="https://n9.cl/5ivxf"
        ><img
          src="../../../assets/imagenes/iconfinder_social_55_492997.png"
          width="42"
          height="42"
          class="rounded float-left ejemplo"
          alt="..."
      /></a>
      <a href="https://n9.cl/5ivxf"
        ><img
          src="../../../assets/imagenes/iconfinder_social_54_492996.png"
          width="42"
          height="42"
          class="rounded float-left ejemplo"
          alt="..."
      /></a>
      <a href="https://n9.cl/5ivxf"
        ><img
          src="../../../assets/imagenes/iconfinder_telegram_1242845.png"
          width="42"
          height="42"
          class="rounded float-left ejemplo"
          alt="..."
      /></a>
      <a href="https://n9.cl/5ivxf"
        ><img
          src="../../../assets/imagenes/iconfinder_social_8_492944.png"
          width="42"
          height="42"
          class="rounded float-left ejemplo"
          alt="..."
      /></a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p align="center" style="font-size: 11px; margin-bottom: 0px">
        © preusanfrancisco 2021
      </p>
    </div>
  </div>
</div>
</footer>